/* img{
    width: 100%;
  }
   */


  body {
    overflow: hidden;
  }




  .section01{
    height: 3300px;
    background-color: black;
  }


  

.section01_container .bg_full{
    position: relative;

    img{
        width: 100%;
    }
}

.section01_container .text_01{
    position: absolute;
    left: 60.4vw;
    top: 9.5vw;
    width: 29vw;
    /* opacity: 0;
    visibility: hidden;
    z-index: 10; */
    img{
        width: 100%;
    }
}

.section01_container .text_02{
    position: absolute;
    left: 51.2vw;
    top: 27.3vw;
    width: 20.5vw;
    img{
        width: 100%;
    }
}

.section01_container .text_03{
    position: absolute;
    left: 6.1vw;
    top: 28.8vw;
    width: 17vw;
    img{
        width: 100%;
    }
}

.section01_container .text_04{
    position: absolute;
    left: 71.2vw;
    top: 35.7vw;
    width: 22vw;
    img{
        width: 100%;
    }
}

.section01_container .loading{
    position: absolute;
    left: 55vw;
    top: 68.7vw;
    width: 13.5vw;
    img{
        width: 100%;
    }
}


.loading_box {
    position: absolute;
    left: 56.9vw;
    top: 74vw;
    background-color: #64d880;
    width: 0;  /* 초기 width */
    height: 27.3px;  /* 초기 height */
    transition: width 1s ease;  /* width 애니메이션 */
}


.phone_01{
    position: absolute;
    left: -5.6vw;
    top: 94.7vw;
    width: 41vw;
    img{
        width: 100%;
    }
}


.phone_02{
    position: absolute;
    right: -0.6vw;
    top: 125vw;
    width: 35vw;
    img{
        width: 100%;
    }
}



/* .concept{
    position: absolute;
    left: 55vw;
    top: 68.7vw;
    width: 13.5vw;
    img{
        width: 100%;
    }
} */

/* 
.concept_text{
position: absolute;
left: 50%;
top: 194%;
translate:-50% 0;
} */








.section02_container .bg_full_2{
    position: relative;
}



.section02{
    position: relative;
}



.box_container{
    display: flex;
    gap: 70px;
    position: absolute;
    left: 50%;
    top: 70.5%;
    translate:-50% -50%;

}


.solution_container{
    display: flex;
    gap: 70px;
    position: absolute;
    left: 50%;
    top: 112%;
    translate:-50% -50%;
}


.concept_container{
    display: flex;
    flex-direction: column;
    gap: 55px;
    position: absolute;
    left: 50%;
    top: 196%;
    transform: translate(-50%, -50%); /* 정확히 중앙에 배치 */
    align-items: center; /* 자식 요소들을 가로로 중앙 정렬 */
}