/* img{
    width: 100%;
  }
   */


  body {
    overflow: hidden;
  }




  .section01{
    height: 3288px;
  }


  

.section01_container .bg_full{
    position: relative;
}

.section01_container .text_01{
    position: absolute;
    left: 1162px;
    top: 346px;
    translate:-50% -50%;
    /* opacity: 0;
    visibility: hidden;
    z-index: 10; */
}

.section01_container .text_02{
    position: absolute;
    left: 1180px;
    top: 629px;
    translate:-50% -50%;
    /* opacity: 0;
    visibility: hidden; 
    z-index: 10; */
}

.section01_container .text_03{
    position: absolute;
    left: 279px;
    top: 654px;
    translate:-50% -50%;
    /* opacity: 0;
    visibility: hidden; 
    z-index: 10; */
}

.section01_container .text_04{
    position: absolute;
    left: 1579px;
    top: 818px;
    translate:-50% -50%;
    /* opacity: 0;
    visibility: hidden; 
    z-index: 10; */
}

.section01_container .loading{
    position: absolute;
    left: 1057px;
    top: 1322px;
}


.loading_box {
    position: absolute;
    top: 1424px;  /* 시작 위치 */
    left: 1094px;  /* 시작 위치 */
    background-color: greenyellow;
    width: 0;  /* 초기 width */
    height: 28px;  /* 초기 height */
    transition: width 1s ease;  /* width 애니메이션 */
}



.section02_container .bg_full_2{
    position: relative;
}



.section02{
    position: relative;
}



.box_01{
    position: absolute;
    top: 609px;
    left: 150px;
}



.box_02{
    position: absolute;
    top: 609px;
    left: 573px;
}



.box_03{
    position: absolute;
    top: 609px;
    left: 996px;
}



.box_04{
    position: absolute;
    top: 609px;
    left: 1419px;
}




.solution_01{
    position: absolute;
    top: 879px;
    left: 155px;
}



.solution_02{
    position: absolute;
    top: 879px;
    left: 579px;
}



.solution_03{
    position: absolute;
    top: 879px;
    left: 1004px;
}



.solution_04{
    position: absolute;
    top: 879px;
    left: 1428px;
}